@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap&#39; ')

:root {
    --cor-de-fundo: #ff22e1;
    --grifar: #cc00ff;
    --branco: #ffffff;
    --botao-ativo: #a614fa ;
    --botao-inativo: #222222;
    --texto-fundo: #7214dd ;
}

    body{
        background-color: (var(--cor-de-fundo));
        color: var(--branco);
        font-family:´Times 'Times New Roman', Times, serif;
    }


